/* You can add global styles to this file, and also import other style files */

html, body, header { height: 100%;  background-color: rgb(49, 49, 49); color: aqua;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
